body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

input{
    width: 100%;
    text-align: right;
    border-style: hidden;
    font-size: 16px;
    font-style: italic;
}

aside{
    max-width: 25%;
    max-height: 25%;
    float: right; 
}

img{
    width: 100%;
    height: 100%;
    float:right;
}

A{
    font-size: 14px;
    font-style: italic;
    background-color: #fff;
    width: 75%;
    height: 85%;
    margin: 0 auto;
}

input:disabled {
    width: 100%;
    text-align: right;
    border-style: hidden;
    font-size: 16px;
    font-style: italic;
    background-color: #fff;
    color:black;
}

.container {
    width: 75%;
    height: 85%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px 5px 0px 0px;
}

.container-usuario {
    width: 75%;
    height: 85%;
    margin: 0 auto;
    margin-top: 125px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px 5px 0px 0px;
    text-align: right;
    font-size: 14px;
}

.container-reloj {
    width: 75%;
    height: 85%;
    margin: 0 auto;
    margin-top: 125px;
    background-color: #fff;
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
}
  
.btn-ventas{
    background-color: #b07200;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 45%;
    font-size: 16px;
}

.btn-compras{
    background-color: #EFDF00;
    color: #fff;
    border-radius: 5px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 45%;
    font-size: 16px;
}

.btn-proveedores{
    background-color: #b000b0;
    color: #fff;
    padding: 14px 20px;
    border-radius: 5px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 45%;
    font-size: 16px;
}

.btn-informes {
    background-color: #579E93;
    color: #fff;
    border-radius: 5px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 45%;
    font-size: 16px;
}

.btn-consultas {
    background-color: #cb0055;
    color: #fff;
    border-radius: 5px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 45%;
    font-size: 16px;
}

.btn-usuarios {
    background-color: #888B8D;
    color: #fff;
    border-radius: 5px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 45%;
    font-size: 16px;
}

.txt-version {
    width: 75%;
    height: 85%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
    text-align: right;
    font-style: italic;
}
